[submodule "Vim"]
	path = Vim
	url = https://github.com/zhiyue/k-vim.git
[submodule "config/dircolors-solarized"]
	path = config/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "config/gnome-terminal-colors-solarized"]
	path = config/gnome-terminal-colors-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "config/tmux-config"]
	path = config/tmux-config
	url = https://github.com/zhiyue/tmux-config.git
[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen.git
